nav.navbar.is-primary(style="position: fixed !important; top: 0; left: 0; right: 0; z-index: 1; box-shadow: 0 2px 20px -2px gray;")
	.container
		.navbar-brand
			a.navbar-item(href="/")
				img(src="/img/bulb_idea.png" style="height: 120%;")
				h1.title.has-text-white IdeaPOP
			.navbar-burger.burger(data-target="navbarMenu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');")
				span
				span
				span
		#navbarMenu.navbar-menu
			.navbar-start
				a.navbar-item(href="/")
					| Home 
				.navbar-item.has-dropdown.is-hoverable
					.navbar-link(style="cursor: pointer;")
						| Ideas
						.navbar-dropdown.is-boxed
							a.navbar-item(href="/ideas")
								| Ideas
							a.navbar-item(href="/ideas/add")
								| Add idea
				a.navbar-item(href="/about") 
					| About
			hr
			.navbar-end
				if !user
					.navbar-item
						.field.is-grouped
							p.control
								a.button.is-primary(href="/users/login")
									| Sign In 
							p.control
								a.button.is-primary(href="/users/register") 
									| Register
				else
					.navbar-item.has-dropdown.is-hoverable
						.navbar-link(style="cursor: pointer;")= user.name
							.navbar-dropdown.is-boxed
								a.navbar-item(href="/users/logout") 
									| Logout
						
