extends layouts/layout.pug

block title
  title About

block body
  .hero-body
    h1.title About
    p.subtitle This is a NodeJs with Express app for note your ideas to remind you eveything you want.
    p Version 1.0.0